.root {

    -fx-accent: #584866; // выделение при наведении мыши
    -fx-focus-color: #584866;
}
.context-menu {
  -fx-background-color: #4e3f5c;
  -fx-text-fill: white;
}
.menu-bar .label {
    -fx-text-fill: lightgrey;

}

.menu-item .label {
  -fx-text-fill: white;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#4a345e 0%, #40334a 100%);
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: #d1cbd6;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #200f33;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #200f33;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:selected {
    -fx-background-color: #342645;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.menu-item:focused .label {

  -fx-text-fill: #dacfe6;
}
.scroll-pane > .corner {
    -fx-background-color: #200f33;
    -fx-background-insets: 0 1 1 0;

}
.scroll-bar:vertical .thumb{
 -fx-background-color: #40334a;
}
.scroll-bar:vertical .track{
-fx-background-color: #200f33;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-view{
    -fx-table-cell-border-color: #362c40;
}

.text-field {
    -fx-background-color: #cbc8db , #cbc8db , #cbc8db;
}
.text-field: focused {
    -fx-background-color: #cbc8db , #cbc8db , #cbc8db;
}