.root {

    -fx-accent: #584866; // выделение при наведении мыши
    -fx-focus-color: #584866;
}
.context-menu {
  -fx-background-color: #4e3f5c;
  -fx-text-fill: white;
}
.menu-bar .label {
    -fx-text-fill: lightgrey;

}

.menu-item .label {
  -fx-text-fill: white;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#4a345e 0%, #40334a 100%);
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: #d1cbd6;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #58446e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #200f33;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}


.menu-item:focused .label {

  -fx-text-fill: #dacfe6;
}
