.root {

    -fx-accent: #e2dae6; // выделение при наведении мыши
    -fx-focus-color: #e2dae6;
}
.context-menu {
  -fx-background-color: #4e3f5c;
  -fx-text-fill: white;
}
.menu-bar .label {
    -fx-text-fill: lightgrey;

}

.menu-item .label {
  -fx-text-fill: white;
}


.menu-item:focused .label {

  -fx-text-fill: #dacfe6;
}