.root {

    -fx-accent: #dedae6; // выделение при наведении мыши
    -fx-focus-color: #dedae6;
}
.context-menu {
  -fx-background-color: #e1dfeb;
  -fx-text-fill: white;
}
.menu-bar .label {
    -fx-text-fill: black;

}

.menu-item .label {
  -fx-text-fill: black;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #1d1921;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#d3d1de 0%, #d3d1de 100%);
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: #353138;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #e1dfeb;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #e1dfeb;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:selected {
    -fx-background-color: #d0cfe3;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

.menu-item:focused .label {

  -fx-text-fill: #544f80;
}
.scroll-bar:vertical .thumb{
 -fx-background-color: #c8cadb;
}
.text-field:focused {
    -fx-background-color: white , white , white;
}
.text-field {
    -fx-background-color: white , white , white;
}